[submodule "Forgroot"]
	path = Forgroot
	url = https://github.com/Legacy-Robotics/Forgroot
[submodule "taproot-scripts"]
	path = taproot-scripts
	url = https://gitlab.com/aruw/controls/taproot-scripts.git
